<div id="loginbutton">
  <p class="small">Kirjautuessasi sisään Strava-tunnuksilla ja antaessasi palvelulle luvan hakea treenejäsi, palvelu käy hakemassa viimeisimmät juoksuksi merkityt harjoitteet ja piirtää niistä allaoleviin graafeihin datapisteitä.</p>
  <a href="/auth/strava"><img src="/LogInWithStrava.png"/></a>
</div>
